.Mobile {
  width: 100%;
  text-align: right;
}

.Button {
  color: #E1E6B9;
  font-size: 28px;
}

.Button:hover,
.Button:active {
  color: #ABC8A4;
}

@media (min-width: 701px) {
  .Mobile {
    display: none;
  }
}