.nosotros{
    width: 100%;
    height: 500px;
    background: url(../../assets/NosotrosPhoto.JPG);
    background-position: center;
    background-size: cover;
}
    .fondo{
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .Titulo{
        font-family: 'Montserrat';
        font-size: 40px;
        text-align: center;
        color: white;
    }
    .Texto{
        font-family: 'Lora';
        text-align: center;
        color: white;
        padding: 10px;
        font-size: 26px;
        font-weight: 300;
        line-height: 1.6;
    }
@media (max-width: 570px){
    .Texto{
        font-size: 20px;
    }
}


